@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Lato&family=Open+Sans:wght@400;600;700&display=swap");

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px -3px 7px rgb(124, 124, 124) inset;
}

.logo {
  width: 13vw;
  margin: 9px 20px;
}

.links {
  font-family: sans-serif;
  display: flex;
  margin-right: 40px;
  gap: 26px;
  font-weight: 400;
}

.links a {
  color: #777777;
  font-size: 1.4vw;
  transition: 0.3s;
}

.links a:hover {
  transform: scale(1.1);
  color: rgb(146, 100, 15);
}

.banner {
  width: 100%;
}

.estilos {
  margin-bottom: 190px;
}

.estilos h1 {
  text-align: center;
  font-size: 3vw;
  margin: 55px 0;
  font-family: sans-serif;
  font-weight: bold;
}

.imagem-estilos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.estilo1 {
  max-width: 650px;
  max-height: 780px;
  width: auto;
  height: auto;
}

.estilo2 {
  max-width: 650px;
  max-height: 780px;
  width: auto;
  height: auto;
  padding-left: 50px;
}

.discount {
  background-color: #c2185b;
  height: 100%;
}

.discount h1 {
  color: white;
  font-size: 2.5vw;
  text-align: center;
  padding: 70px 0;
  font-family: sans-serif;
  font-weight: bold;
}

.discount-shoes {
  display: flex;
  gap: 65px;
  justify-content: center;
  flex-wrap: wrap;
}

.shoes {
  font-family: sans-serif;
  font-weight: 600;
  background-color: white;
  margin-bottom: 100px;
  border-radius: 10px;
}

.shoes img {
  height: 388px;
}

.shoes-description {
  padding: 11px 0px 30px 9px;
}

.shoes-description p {
  margin-bottom: 9px;
}

.model {
  display: flex;
  width: 1080px;
  margin: 0 auto;
  padding-top: 100px;
}

.model-shoes {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.model-shoes button {
  background-color: #c2185b;
  width: 60%;
  color: white;
  font-size: 2vw;
  padding: 20px 0;
  font-family: sans-serif;
  font-weight: bold;
  margin-bottom: 40px;
}
.model-shoes h1 {
  font-family: sans-serif;
  width: 100%;
  font-size: 2vw;
  line-height: 50px;
  font-weight: bold;
  padding-bottom: 15px;
}

.model-shoes img {
  height: 798px;
}

.model-image {
  display: flex;
  padding-left: 30px;
  justify-content: end;
}

footer {
  display: flex;
  background-color: #c2185b;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  font-family: sans-serif;
  padding: 50px 0;
  margin-top: 100px;
}

.footer-logo {
  width: 400px;
  margin-left: 100px;
}

.footer-logo img {
  width: 50%;
}

.footer-logo p {
  position: relative;
  width: 60%;
  color: white;
  bottom: 20px;
  left: 10px;
  line-height: 20px;
}

.footer-categorias {
  color: white;
  line-height: 22px;
}

.footer-categorias li:nth-child(1) {
  font-size: 1.3vw;
  margin-bottom: 5px;
}

.footer-institucional {
  color: white;
  line-height: 22px;
  margin-top: 20px;
  margin-right: 300px;
}

.footer-institucional li:nth-child(1) {
  font-size: 1.3vw;
  margin-bottom: 5px;
}

/* Parte do formulário */

.trabalhe-conosco {
  width: 50%;
  margin: 60px auto;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  border: 1px solid black;
  padding: 30px 80px;
  box-shadow: 2px 2px 7px 2px rgba(131, 130, 130, .4);
  color: #777777;
}

.trabalhe-conosco label, p {
  font-weight: bold;
}

.trabalhe-conosco h1 {
  text-align: center;
  font-size: 40px;
  color: rgb(90, 90, 90);
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.input-wrapper label {
  margin-bottom: 3px;
}

.input-wrapper select {
  border: 1px solid rgb(139, 139, 139);
  padding: 2px 0;
}

.input-wrapper textarea {
  border: 1px solid gray;
  resize: vertical;
}

.mensagem {
  margin-top: 16px;
}

.input-row {
  display: flex;
  gap: 15px;
  margin-top: 10px;
  margin-left: -4px;
}

.input-row label {
  font-weight: 400;
}

.forma-contato {
  margin-top: 20px;
}

.radio {
  margin-right: 41px;
}

.radio-whatsapp {
  margin-left: 23px;
}

#curriculo {
  margin-left: 10px;
}

.enviar {
  color: white;
  background-color: #c2185b;
  padding: 10px;
  font-weight: bold;
}

